body {
    margin:0;
    perspective-origin: left center;
    perspective: 8000px;
    width: auto; height: auto;
    perspective: 100vh;
}

.welcome {
    background-color: rgb(238, 166, 0);
    color: white;
    font-weight: 400;
    transform: rotateY(-70deg) scale(0.4);
    width: auto; height: auto;
    animation: start 2.1s cubic-bezier(0.15, 0.9, 0.25, 1) forwards;
    backdrop-filter: blur(1000px);
    position: fixed;
    z-index: 9;
}

            @keyframes start{
              0%{
                transform: translateX(200px);
                opacity:0;
              }
              50%{
                opacity:1;
              }
              100%{
                transform: translateX(0);
                opacity:1;
              }
            }

.welcome .content {
    max-width: 1280px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.welcome .content img {
    position: fixed;
    left: 40px;
    top: 20px
}

@keyframes welcomedivani {
    100% {
        transform: rotateY(0deg) scale(1);
    }
}

.welcome {
    padding: 40px;
	padding-top: 0px !important;
	padding-right: 0px !important;
}

p, h2, button, input {
	animation: start 2.1s cubic-bezier(0.05, 0.9, 0.7, 1) forwards;
}

button {
	margin-left: 0px;
	margin-right: 10px;
}

#ver {
    position: absolute;
    right: 0;
    bottom: 0;
}

#changelang {
    position: absolute;
    left: 0;
    bottom: 0;
}

.snowfall-flakes {
    filter: blur(2px);
}

button {
	margin-bottom: 20px;
}

.welcome {
	width: 87%;
}
